{% extends 'layout.html.twig' %}
{% block title %}Enregistrer un utilisateur{% endblock %}

{% block main %}
    <div>
        <h2>Liste des sites :</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.nom }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

    <div>
        <a href="{{ path('site_add') }}">
            <button class="btn btn-primary btn-lg btn-block">Ajouter un site</button>
        </a>
    </div>
{% endblock %}