h1, h2, h3, h4, h5{
    font-family: 'Varela Round', sans-serif;
    color: #253C59;
}

.btn{
    margin-right: 20px !important;
    margin-bottom: 8px;
}

.mainContent{
    padding: 20px 0;
    background-image: url("../img/p5.png");
}

/*Login*/
.loginPage{
    height: 100%;
    color:#000;
    background-image: url("https://images.unsplash.com/photo-1471421298428-1513ab720a8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1864&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.loginPage .form-control{
    border:1px solid grey;
}

/*Home*/
.searchForm{
    padding: 20px;
    background-image: url("../img/p5.png");
}

.searchResults{
    margin-top: 20px;
}

.addSortie{
    background-image: url("https://images.unsplash.com/photo-1471421298428-1513ab720a8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1864&q=80");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
}

/*Details Sortie*/
.blockDetailsSortie{
    padding-top: 20px;
}

.blocParticipants{
    margin-top: 5px;
    padding-top: 20px;
    background-image: url("../img/p5.png");
}
.blocParticipants tr{
    border-bottom: 3px solid gray;
}



.navbar{
    background-color: #253C59 !important;
}

.photoProfilNavBar{
    width: 40px;
    border-radius: 50%;
}

.navbar .nav-item {
    position: relative;
}

.navbar .nav-item::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.navbar .nav-item:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.inscrit{
    color:limegreen;
    text-align: center;
}

.voirTout{
    margin-top: 5px;
}

.fa-trash-alt{
    color: red;
}

.form-control{
    padding: 5px;
}

.infosActions{
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

/*Footer*/
footer{
    background-color: #253C59;
}