<div class="addGroup">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-block">{{ button_label|default('Créer la ville !') }}</button>
{{ form_end(form) }}
</div>
