{% extends 'layout.html.twig' %}
{% block title %}Enregistrer un site{% endblock %}
{% block main %}

    <h1>Enregistrer une ville</h1>
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button class="btn btn-primary" type="submit">Enregistrer</button>
    {{ form_end(villeForm) }}

{% endblock %}