{% extends 'layout.html.twig' %}
{% block title %}Connecter un utilisateur{% endblock %}
{% block main %}

    <h1>Login user</h1>
    {#{% if erreur %}
        <div>{{ erreur.message }}</div>
    {% endif %}#}
    <form method="post">

        <label for="username">Identifiant :</label>
        <input type="text" name="_username" id="username">

        <label for="password">Mot de passe :</label>
        <input type="password" name="_password" id="password">

        <button type="submit">Connexion</button>
        <label>
            <input type="checkbox" name="_remember_me" checked>
            Se souvenir de moi
        </label>
    </form>

{% endblock %}